In [1]:
import pandas as pd
df_employee = pd.DataFrame({
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
})
df_employee.to_csv("Employee.csv", index=False)


df_seniority = pd.DataFrame({
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
})
df_seniority.to_csv("Seniority.csv", index=False)


df_project = pd.DataFrame({
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
})
df_project.to_csv("Project.csv", index=False)

print("CSV files created successfully!")

CSV files created successfully!

In [65]:
import pandas as pd


df_project = pd.read_csv("Project.csv")


running_sum = 0
count = 0
for index, row in df_project.iterrows():
    if pd.isna(row["Cost"]):
        df_project.at[index, "Cost"] = running_sum / count if count > 0 else 0
    else:
        running_sum += row["Cost"]
        count += 1

# Save the updated DataFrame
df_project.to_csv("Project.csv", index=False)

print("Missing cost values replaced successfully!")

Missing cost values replaced successfully!

In [39]:
import pandas as pd

df_employee = pd.read_csv("Employee.csv")

df_employee[['First name', 'Last name']] = df_employee['name'].str.split(' ', 1, expand=True)

df_employee.drop(columns=['name'], inplace=True)

df_employee.to_csv("Employee.csv", index=False)

KeyError: 'name'

In [51]:

import pandas as pd

df_employee = pd.read_csv("Employee.csv")
df_seniority = pd.read_csv("Seniority.csv")
df_project = pd.read_csv("Project.csv")

final = df_employee.merge(df_seniority, on="ID").merge(df_project, on="ID")

final.to_csv("Final.csv", index=False)
print(final)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  2.061714e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  3.250500e+06  Finished
12   Project 7  4.000000e+05  Finished
13  Project 14  2.000000e+05  Finished

In [45]:
import pandas as pd

df_final = pd.read_csv("Final.csv")
df_final["Bonus"] = df_final.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)
df_final.to_csv("Final.csv", index=False)
print(df_final)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status     Bonus
0    Project 1  1.002000e+06  Finished   50100.0
1    Project 9  2.061714e+06   Ongoing       0.0
2   Project 11  2.000000e+06    Failed       0.0
3    Project 2  2.000000e+06   Ongoing       0.0
4    Project 6  6.800000e+05    Failed       0.0
5    Project 3  4.500000e+06  Finished  225000.0
6    Project 8  3.500000e+05    Failed       0.0
7   Project 10  3.000000e+05  Finished   15000.0
8    Project 4  5.500000e+06   Ongoing       0.0
9   Project 12  1.000000e+06   Ongoing       0.0
10  Project 13  3.000000e+06  Finished  150000.0
11   Project 5  3.250500e+06  Finished  162525.0
12   Project 7  4.000000e+05  Finished   20000.0
13  Project 14  2.000000e+05  Finished   10000.0

In [53]:
import pandas as pd

df_employee = pd.read_csv("Employee.csv")
df_seniority = pd.read_csv("Seniority.csv")
df_project = pd.read_csv("Project.csv")

final = df_employee.merge(df_seniority, on="ID").merge(df_project, on="ID")

final["Bonus"] = final.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)

final.loc[final["Status"] == "Failed", "Designation Level"] -= 1

final = final[final["Designation Level"] <= 4]

final.to_csv("Final.csv", index=False)

print(final)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status     Bonus
0    Project 1  1.002000e+06  Finished   50100.0
1    Project 9  2.061714e+06   Ongoing       0.0
2   Project 11  2.000000e+06    Failed       0.0
3    Project 2  2.000000e+06   Ongoing       0.0
4    Project 6  6.800000e+05    Failed       0.0
5    Project 3  4.500000e+06  Finished  225000.0
6    Project 8  3.500000e+05    Failed       0.0
7   Project 10  3.000000e+05  Finished   15000.0
8    Project 4  5.500000e+06   Ongoing       0.0
9   Project 12  1.000000e+06   Ongoing       0.0
10  Project 13  3.000000e+06  Finished  150000.0
11   Project 5  3.250500e+06  Finished  162525.0
12   Project 7  4.000000e+05  Finished   20000.0
13  Project 14  2.000000e+05  Finished   10000.0

In [55]:
import pandas as pd

df_employee = pd.read_csv("Employee.csv")
df_seniority = pd.read_csv("Seniority.csv")
df_project = pd.read_csv("Project.csv")

final = df_employee.merge(df_seniority, on="ID").merge(df_project, on="ID")

final["Bonus"] = final.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)

final.loc[final["Status"] == "Failed", "Designation Level"] -= 1

final = final[final["Designation Level"] <= 4]

final["First Name"] = final.apply(lambda row: "Mr. " + row["First Name"] if row["Gender"] == "M" else "Mrs. " + row["First Name"], axis=1)

final.drop(columns=["Gender"], inplace=True)

final.to_csv("Final.csv", index=False)

print(final)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  3  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

In [57]:
import pandas as pd

df_seniority = pd.read_csv("Seniority.csv")
df_employee = pd.read_csv("Employee.csv")

for i in range(len(df_employee)):
    if df_employee.loc[i, "Age"] > 29:
        df_seniority.loc[df_seniority["ID"] == df_employee.loc[i, "ID"], "Designation Level"] += 1

df_seniority.to_csv("Seniority.csv", index=False)

print(df_seniority)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  3
4  A005                  4

In [59]:
import pandas as pd

df_employee = pd.read_csv("Employee.csv")
df_project = pd.read_csv("Project.csv")

df_project = df_project.groupby("ID", as_index=False)["Cost"].sum()
df_project.rename(columns={"Cost": "Total Cost"}, inplace=True)

TotalProjCost = df_employee[["ID", "First Name"]].merge(df_project, on="ID", how="left")
TotalProjCost.fillna(0, inplace=True)

TotalProjCost.to_csv("TotalProjCost.csv", index=False)

print(TotalProjCost)

     ID First Name    Total Cost
0  A001       John  5.063714e+06
1  A002      Alice  2.680000e+06
2  A003        Tom  5.150000e+06
3  A004       Nina  9.500000e+06
4  A005        Amy  3.850500e+06

In [61]:
import pandas as pd

df_employee = pd.read_csv("Employee.csv")

filtered_employees = df_employee[df_employee["City"].str.contains("o", case=False, na=False)]

print(filtered_employees)

     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra